@media  screen and (max-width: 1157){
    .work-description {
        display: none;
      }
      .techonoly-hidden {
        padding-top: 96px;
        padding-bottom: 96px;
      }

      .chenged {
        font-family: inherit;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 8px;
      }
      
      .mixed {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
      } 
    
    .team {
        padding-top: 96px;
        padding-bottom: 96px;
      }
      .customers {
        padding-top: 96px;
      padding-bottom: 96px;
      text-align: center;
      }
      
      .customer-list{
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
      }
  
      .customer-item{
        width: calc((100% - 232px) / 3);
      } 

      .style-footer{
        text-align: start;
        column-gap: 24px;
        row-gap: 72px;}

    .footer-left-side {
      margin-right: auto;
      margin-bottom: 72px;
      margin-left: auto;
      }

      .footer-centr {
        margin-right: auto;
        margin-bottom: 72px;
        margin-left: auto;
      }
      .portfolio-nav-list {
        justify-content: center;
        margin-bottom: 64px;
      }


}
    

@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
/* ===================================== Header ========================================== */
.page-header {
  max-width: 1440px;}

.page-nav{
    gap: 76px;
}
.contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

/* ===================================== MAIN ========================================== */
.main-content {
    min-width: 1440px;
}

/* ==========<================ HERO ===============================================--> */

.hero {
    max-width: 1440px;
    padding: 188px 472px;
  }

.hero-title {
    max-width: 496px;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-transform:none;}

.hero-margin {
    margin-bottom: 48px;
    }    
   /* =======================Section #1==================== */
   .techonoly-hidden {
    padding-top: 120px;
    padding-bottom: 120px;
  }
   .technology-icon-style{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 112px;
    background-color: var(--footer-text-color);
    border-radius: 4px; 
    margin-bottom: 8px;
    
  }
  
  .tech-list{
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--indent);
  }

  .content{
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
  .technology-list{
    --team: 3;}

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .chenged{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
  }
  
  .mixed{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
/* ============================Section# 2================= */


.work-description {
  display: contents;
  text-align: center;
}
.function-style{
  padding-bottom: 120px;
} 


.visual-example-list {
  display: flex;
  justify-content:space-between;
  gap: var(--indent);
}
.example-item{
  --items: 3;
}

/* ============================Section#3================= */
.team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  
/* .photo-teammate{} */

/* =================Section#4======================= */
.customers {
    padding-top: 120px;
    padding-bottom: 120px;}

.customer-list{
    gap: 24px;
    flex-wrap: nowrap;
  }

/*  ========================== FOOTER ===============================================--> */

.page-footer{
max-width: 1440px;
margin: 0 auto;
padding: 100px 0;
}

.style-footer{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left-side {
  margin-left: 0;
  }

  .footer-centr {
    margin-right: 0;
    margin-left: 40px;
  }

  .subscribe-btn{
    min-width: 165px;} 
/* ============Portfolio========== */
    

.portfolio-nav-list {
      justify-content: center;
      margin-bottom: 72px;
    }

    .main-portfolio{
      padding-top: 100px;
      padding-bottom: 120px;
    }
}

