.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.second-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.third-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.chenged {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.mixed {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.feature-descriptions {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  /* ===================================== Header ========================================== */
  .page-header {
    max-width: 428px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
  }
  
  .logo {
    /* padding-top: 24px;
    padding-bottom: 24px; 
    margin-right: 76px; */
    margin-right: auto;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
  }
  
  .accent {
    color: var(--main-color);
  }

  .alternative-mob-menu{
    display: flex;
    padding: 24px 9px;
    max-width: 428px;
  }
  
  .header-nav-button{
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    

  }

  .mobile-nav-svg{
   stroke: var(--main-color);
  }
  

/* ===================================== MAIN ========================================== */
.main-content {
  min-width: 320px;
  margin: 0 auto;
}
/* ============================== HERO =============================================== */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-picture/people-office1v@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-picture/people-office1v@2x.jpg);
    
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}

.hero-margin {
  margin-bottom: 96px;
}

.main-hero-button {
  display: block;

  background-color: var(--logo-color);
  color: var(--main-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  border: none;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
}

.main-hero-button:hover,
.main-hero-button:focus {
  background-color: var(--hover-and-focus-color);
}

/* =======================Section #1==================== */
.techonoly-hidden {
  padding-top: 96px;
  padding-bottom: 96px;
}

.tech-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.technology-icon-style{
  display: none;
}

/* ============================Section#2================= */

.work-description {
  display: none;
}

  /* ==============Section#3=============== */
  .team {
    background-color: var(--footer-text-color);
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  /* .team-style{
  
  } */
  
  .team-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 82px;
    column-gap: 72px;
  }
  
  .team-item {
    --items: 4;
    /* width: calc((100% - 72px) / 4);
    margin-right: 24px; */
    background-color: var(--main-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  /* .team-item:nth-child(4) {
    margin-right: 0;
  } */
  
  .style-card {
    padding: 32px 16px;
  }
  
  .team-links-item{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .team-links{
    width: 40px;
    height: 40px; 
    background-color: var(--logo-color);
    border-radius: 25px;
  }
  
  .social-team-links{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-team-links:hover,
  .social-team-links:focus {
    background-color: var(--hover-and-focus-color);
  }
  
  .social-svg-style{
    fill: var(--footer-text-color);
  }
  
  .added-margin{
    margin-bottom: 8px;
  }

/* =================Section#4======================= */

  .customers {
    padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
  }
  
  /* .customers-style {
  } */
  
  .customer-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    
  }
  
  .customer-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
  }
  
  .customers-link{
    max-width: 190px;
    height: 100%;
    border: 1px solid var(--customers-link-color);
    border-radius: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: var(--customers-link-color);
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .current-color{
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  
  .customers-link:hover,
  .customers-link:focus {
    border-color: var(--hover-and-focus-color);
    color: var(--hover-and-focus-color);
  }

/* ===========fooooter=========== */

.page-footer {
  background-color: var(--main-color);
  padding-top: 97px;
  padding-bottom: 97px;
 margin: 0 auto;
}

.style-footer{
 display: flex;
 /* align-items: baseline; */
flex-wrap: wrap;
text-align: center;
} 



.logo-second {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-bottom: 18px;
}

.logo-second-accent {
  color: var(--footer-text-color);
}

.text-footer {
  text-align: start;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  max-width: 268px;
}

  .footer-nav-text {
    font-family: inherit;
    color: var(--main-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-links{
  display: flex; 
  gap: 16px;

}

.footer-links-item{
   width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-footer{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-footer:hover,
.social-team-footer:focus {
  background-color: #31d0aa;
}


.subscribe-form-label{
  display: inline-block;
  }
  
  .subscribe-text{
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: var(--main-white-color);
    margin-bottom: 16px;
  }
  

.subscribe-input{
  width: 280px;
  height: 40px;
  border: 1px solid var(--main-white-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-white-color);

}

.subscribe-btn{
  display: flex;
  justify-content: center; 
  align-items: center;
  min-width: 165px; 
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--main-white-color);
  cursor: pointer;
  background-color: var(--logo-color);
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.subscribe-btn-svg{
   margin-left: 16px;
   fill: var(--main-white-color);
}
  
  /* =======================================MENU--MOBILE=============== */
.mobile-window-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  min-width: 320px;
  /* max-width: 428px; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  z-index: 999;
  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;
  
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  
  }
    
.menu-mobile-link {
  color: var(--main-color);
  font-family: inherit;
  font-size: 36px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-active {
  color: var(--hover-and-focus-color);
}

.menu-mobile-link:hover,
.menu-mobile-link:focus {
  color: var(--hover-and-focus-color);
}

.box{
  color: var(--hover-and-focus-color)
}

.mobile-window-header.is-open {
  transform: translateX(0);

}

.mobile-window-header.btn-modal {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.footer-links-itemu {
  display: block;
  padding: 10px;
  color: #fff;}


  .phone-mobile-link{
    margin-bottom: 40px;
  }


  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;

  }

  .contacts-mobile {
    max-width: 353px;
    margin-bottom: 48px;
  }
  
  .contact-link {
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--text-color)
  }

  .text-font {
    color: var(--logo-color);
  }

  .mobile-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


  /* ================================= MODAL-WINDOW ==================================================== */
.modal-window-father {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 584px;
  background: var(--bg-modal-window);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.btn-modal{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--portfolio-btn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--hover-and-focus-color);
  border: none;
  fill: var(--main-white-color);
}

.modal-window-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text{
  text-align: center;
  color: var(--main-color);
}

/* .modal-form{

} */

.modal-form-style{
  margin-bottom: 8px;

}
.label-input{
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-link-color);
  margin-bottom: 4px; 
}
.label-input-style{
  position: relative;

}
.modal-input{
 width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--logo-color);
}
.modal-input:hover + .modal-svg-input, 
.modal-input:focus + .modal-svg-input {
  fill: #4D5AE5;
}

.modal-svg-input{
  fill: currentColor;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-text{
  padding-left: 8px;
  color: var(--customers-link-color);
  font-size: 12px;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
}

.comment-style{
  margin-bottom: 16px; 
}

.modal-text-area{
  width: 100%;
  padding: 8px 16px;

  max-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area:focus {
  border-color: var(--logo-color);
}

.modal-text-area:focus + .modal-svg-input {
  fill: var(--logo-color);
}

.check-box-style{
  margin-bottom: 24px;
}

.check-box{
  appearance: none;
  width: 10px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0px;
}  


/* .modal-checkbox-input{
} */

.check-box-label{
  /* display: inline-flex;
  align-items: center; */

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-link-color);
  
}

.check-box-span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent; 
}
.about-policy {
  color: var(--logo-color);
}
 /* .modal-checkbox-input{
  width: 100%;
  height: 100%;
}  */

.check-box:checked + .check-box-label > .check-box-span {
  
  background-color: var(--hover-and-focus-color);
  border: none;
  fill: #F4F4FD; 
} 

.modal-btn{
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
  cursor: pointer;
  background-color: var(--logo-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================================= PORTFOLIO-MAIN ==================================================== */


.portfolio-nav-list {
  display: flex;
  column-gap: 24px;
}

.portfolio-button {
  background: var(--footer-text-color);
  color: var(--logo-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--portfolio-btn-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* cursor: pointer; */

 

  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px; */
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--main-white-color);
  background-color: var(--hover-and-focus-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);;
}

/* ===================================== PORTFOLIO-IMG-CARDS ========================================== */

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
}

.card-img{
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.card-img:hover .card-img-text-transform,
.card-img:focus .card-img-text-transform {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-img-transform{
  position: relative;
  overflow: hidden;
}

.card-img-text-transform{
  position: absolute;
  top: 0;
  color:var(--footer-text-color);
  padding: 40px 32px;
  background-color: var(--logo-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link-style{
padding: 0 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.margin-top {
  padding-top: 32px;
}
.margin-bottom {
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .centr{
    text-align: center;
  }
}

@media screen and (max-width: 427px){
  
  .extra-bottom-margin{
    margin-bottom: 72px;
  }
  
  .subscribe{
    margin-left: auto;
    margin-right: auto;
  }

  .modal-text{
    font-size: 12px;
  }


 .subscribe-input{
  max-width: 290px;
  }

  .menu-mobile-link {
    font-size: 28px;
  }
  
  .mobile-links{
    justify-content: space-evenly;
  }

  .modal-window{
    top: 60%;
    width: 320px;
    padding: 35px 20px 20px 20px;
  }

  .btn-modal{
    top: 7px;
    right: 7px;
  }

  .accept-text{
    font-size: 10px;
  }

  .about-policy{
    font-size: 10px;
    margin-left: 100px;
  }

  .modal-window{
    top: 50%;
    width: 319px;
    padding: 72px 16px 24px 16px;
  }
  .mobile-links{
    margin-bottom: 25px;
  }
  

} 

@media (min-width: 428px) {
  .extra-bottom-margin{
    margin-bottom: 72px;
  }

  .modal-window{
      top: 50%;
      width: 392px;
      padding: 72px 16px 24px 16px;
  }
}
  
@media screen and (max-width: 767px) {
  
  .heder-content{ display: none;}
  
  .main-content {
    max-width: 428px;
    margin: 0 auto;
    }

  .footer-left-side {
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
    }

  .footer-centr {
      margin-right: auto;
      margin-bottom: 72px;
      margin-left: auto;
    }

    .subscribe-form-label{
       margin-bottom: 16px;
    }

    .subscribe-input{
      margin-left: auto;
      margin-right: auto;
      width: 398px;}

      .main-portfolio{
        padding-top: 48px;
        padding-bottom: 48px;
      }

    .portfolio-nav-list {
     flex-wrap: wrap;
      row-gap: 16px;
      margin-bottom: 48px;
      padding-right: 30px;
    }
    
    .portfolio-img{
      row-gap: 48px;
      justify-content: center;
    }

    .portfilio-picture{
      width: 396px;
      height: 280px;
    }

    .portfolio-button {
      padding: 8px 16px;
    } 
    

   
    
    
 
 }

   

