@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .mobile-window-header {
      display: none;
    }
    

    /* ===================================== Header ========================================== */
      .alternative-mob-menu{
        display: none;
      }
      .mobile-window-header{
        display: none;
      }

      .heder-content{
          display: flex;
          align-items: center;
      }    
    
  .page-nav {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: auto;
        gap: 120px;
      }

      .menu-list {
        display: flex;
        gap: 40px;
      }
      
      .menu-item-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-color);
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .menu-item-link:hover,
      .menu-item-link:focus  {
        color: var(--hover-and-focus-color);
      }
      
      .active{
        color: var(--hover-and-focus-color);
      }

      .active::after {
        display: block;
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: var(--hover-and-focus-color);
        border-radius: 2px;
      }
      
      .contacts-info {
        margin-right: 0;
        font-style: normal;
      }
      
      .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
      }
      
      .contacts-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .contact-link {
        font-family: inherit;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .contact-link:hover,
      .contact-link:focus {
        color: var(--hover-and-focus-color);
      }
/* ===================================== MAIN ========================================== */
    .main-content {
        width: 768px;}
/* -- ============================== HERO ===============================================--> */
    .hero {
        max-width: 768px;}

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-transform:none;}

    .hero-margin {
        margin-bottom: 36px;
        }    

/* =======================Section #1==================== */

    .tech-list {
      display: flex;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    }

    .feature-item{
      width: calc((100% - 24px) / 2)
    }

    .positioning{
      text-align: start;
    }

     /* ==========================Section #3=============================================== */
     .team-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 64px;
      column-gap: 24px;
    }
    .team-item {
      width: calc((100% - 208px) / 2);
    }

    .third-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color); 
    }
/* ===========================Section#4============================= */

    .customer-list{
      row-gap: 72px;
      column-gap: 24px;
      justify-content: center;
    }

    .customer-item{
      width: calc((100% - 232px) / 3);
    } 
/* ============================fooooter================================== */
   
.page-footer {
  padding-top: 98px;
  padding-right: 108px;
  padding-bottom: 98px;
  padding-left: 108px;}

  .style-footer{
  text-align: start;
  column-gap: 24px;
  row-gap: 72px;}
  
  .subscribe{
    display: flex;
  }

  .subscribe-input{
    max-width: 264px;
  }

  .subscribe-form{display: flex; 
    flex-wrap: wrap;
    align-items: flex-end; 
    gap: 24px;
    }  

/* ============Portfolio========== */
.main-portfolio{
  padding-top: 64px;
  padding-bottom: 96px;
}

.portfolio-nav-list{
  justify-content: center;
  margin-bottom: 64px;
}

.portfolio-button {
  padding: 12px 24px;
} 

.portfilio-picture{
  width: 356px;
  height: 300px;
  }
 
.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

} 
